CompileFlags:
  Add:
    - -std=c++20

---
If:
  PathMatch: sim_engine/.*
CompileFlags:
  Add:
    - -I../include
    - -I../../sim_ui/include

---
If:
  PathMatch: sim_ui/.*
CompileFlags:
  Add:
    - -I../include
    - -I../../sim_engine/include
